$header-min-height: 133px; // Used to calculate positioning of the menu-drawer on mobile
$wrap-max-width: 1300px;
$top_bar_logo:'https://www3.gobiernodecanarias.org/medusa/wiki/images/1/1d/Logo_GobCan_claim_color.png';
