/*
Author: ATE
Note: Based on Theme Design by OutOfTheBugs
Author URI: https://www.outofthebugs.com
Description: css styles for Landing Page
Version: 1.0.7
Omeka Version Constraint: ^4.0.0
Requires PHP: 7.4
License: GNU General Public License v2 or later
License URI: LICENSE
*/

/*--------------------------------------------------------------
# Variables and mixins
--------------------------------------------------------------*/
@import "abstracts/abstracts";

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/

/* Normalize
--------------------------------------------- */
@import "generic/normalize";

/* Box sizing
--------------------------------------------- */
@import "generic/box-sizing";

/* Collapse
--------------------------------------------- */
@import "generic/collapse";

/*--------------------------------------------------------------
# Base
--------------------------------------------------------------*/
@import "base/base";

/*--------------------------------------------------------------
# Components
--------------------------------------------------------------*/
@import "components/components";

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/
@import "utilities/utilities";
