.main-header {
    background-color: $color__white;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1040;
    box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.11);
    transition: top 0.3s ease-out;
    &--inline {
        .main-header__top-bar {
        background: url(https://www3.gobiernodecanarias.org/medusa/wiki/images/1/1d/Logo_GobCan_claim_color.png) no-repeat;
        background-size: auto 70px;
        background-position: calc(1.8%) center;
        min-height: 80px;
        }
    }

    &--center {
        .main-header__top-bar {
        background: url(https://www3.gobiernodecanarias.org/medusa/wiki/images/1/1d/Logo_GobCan_claim_color.png) no-repeat;
        background-size: auto 70px;
        background-position: calc(50% - 25px) calc(50% - 25px);
        min-height: 80px;
        }
    }
    &__top-bar {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 10px;
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;
        

        @media (min-width: $lg) {
            align-items: flex-end;
            justify-content: flex-end;
        }
    }

    &__advanced-search {
        font-size: 0.6875rem;
        padding-right: 10px;
        text-transform: uppercase;
    }

    &__search-form {

        form {
            display: flex;

            @media (min-width: $lg) {
                width: 265px;
            }
        }

        input {
            padding-right: 46px;
            margin-bottom: 0;
            margin-right: -46px;
            width: 100%;
        }

        button {
            background: none;
            color: $color__placeholder;
            padding: 10px 15px;
            font-size: 0; /* hide text */
            position: relative;

            &::before {
                @include font-awesome;
                content: "\f002";
                font-size: 16px;
            }

            &:hover,
            &:focus {
                background: none;
                color: $color__main-text;
            }
        }
    }

    hr {
        background-color: $color__gray-80;
        margin-bottom: 0;
    }

    &__main-bar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 10px;
        max-width: 1920px;
        margin-left: auto;
        margin-right: auto;

        @media (min-width: $lg) {
            .main-header--center & {
                justify-content: center;
                flex-direction: column;
                padding-top: 30px;
            }
        }
    }

    &__site-title {
        flex-shrink: 0;
        max-width: 40%;
        width: 40%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;

        @media (min-width: $lg) {
            max-width: 50%;

            .main-header--center & {
                max-width: none;
            }
        }

        a {
            //display: block;
            font-family: $font__headings;
            font-size: $font__h2-sm-size; //40px
            font-weight: 500;
            line-height: $font__headings-line-height;
            text-decoration: none;
            display: flex;
            justify-content: flex-start;   
            flex-wrap: wrap;           // Allows multiple logos to wrap if needed
            width: 100%;               // Ensures it spans full width of container
            gap: 15px; 
        }

        img {
            height: 35px;
            width: auto;
        

            @media (min-width: $lg) {
                max-height: 50px;
            }
        }
        
    }
}
